<a href="https://colab.research.google.com/github/valesierrai/Introduccion-a-la-Inteligencia-de-Negocios/blob/main/Agrupamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Agrupamiento

Permite sintetizar la información por grupos, esta información está en el formato de las funciones de agregación.

##Importamos Librerias

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import sqlite3

Mounted at /content/drive

In [ ]:
#Creamos la conexión con la base de datos ya existente
conexion = sqlite3.connect('/content/drive/MyDrive/Colab Notebooks/IB/MisCancionesV3.db')

#Generamos el cursor (apuntador) a la base de datos
cursor = conexion.cursor()

In [ ]:
#¿Cuántos intérpretes hay por cada tipo?
consulta = '''SELECT tipoIntérprete,
            COUNT (*) AS cantidad
            FROM Intérpretes
            GROUP BY tipoIntérprete'''

#Ejecutamos la consulta
cursor.execute(consulta)

#Mostramos los resultados
resultados = cursor.fetchall()
for resultado in resultados:
  print(resultado)

('Grupo', 5)
('Solista', 5)

In [ ]:
#¿Cuál es la duración total de cada Álbum?
#Los resultados deben presentarse en orden de mayor a menor

consulta = '''SELECT idÁlbumOriginal AS Álbum,
            printf('%02d:%02d:%02d',
            SUM(substr(duración, 1, 2)* 3600 + substr(duración, 4, 2)* 60 + substr(duración, 7,2))/3600,
            (SUM(substr(duración, 1, 2) *3600 + substr(duración, 4, 2) * 60
            +substr(duración, 7,2)) % 3600)/60,
            SUM(substr(duración, 1, 2)* 3600 + substr(duración, 4,2 )*60
            + substr(duración,7, 2)) % 60) AS duraciónTotal
            FROM Canciones
            GROUP BY idÁlbumOriginal
            ORDER BY duraciónTotal DESC'''

#Ejecutamos la consulta
cursor.execute(consulta)

#Mostramos los resultados
resultados = cursor.fetchall()
for resultado in resultados:
  print(resultado)

(15, '00:06:32')
(4, '00:05:54')
(16, '00:05:37')
(3, '00:05:16')
(18, '00:05:04')
(10, '00:04:58')
(9, '00:04:49')
(1, '00:04:25')
(12, '00:04:21')
(8, '00:04:09')
(6, '00:03:55')
(11, '00:03:51')
(2, '00:03:47')
(7, '00:03:45')
(5, '00:03:38')
(None, '00:03:14')
(13, '00:03:09')
(17, '00:03:02')
(14, '00:02:51')

*WHERE: Filtra por filas antes*

*HAVING: Filtra después de agrupar*

In [ ]:
#¿Cuántas canciones conforman cada una de las listas de reproducción de los usuarios?
#Muestre solo aquellas que tengan más de 10 canciones
#Con resultados ordenados en la lista con mayor número de canciones a la lista con menor número de canciones

consulta = '''SELECT idListaReproducción AS Lista,
             COUNT(idCanción) AS [Cantidad de Canciones]
             FROM CancionesLista
             GROUP BY idListaReproducción
             HAVING COUNT(idCanción) > 10
             ORDER BY [Cantidad de Canciones] DESC'''

#Ejecutamos la consulta
cursor.execute(consulta)

#Mostramos los resultados
resultados = cursor.fetchall()
for resultado in resultados:
  print(resultado)

(7, 14)
(10, 12)
(4, 11)
(16, 11)
(17, 11)

In [ ]:
#¿Cuántos comentarios positivos tiene cada una de las canciones de la colección?
#Mostrar aquellas canciones que tienen más de 5 comentarios positivos
consulta = '''SELECT idCanción AS Canción,
            COUNT(*) AS [Cantidad de Comentarios Positivos]
            FROM Calificaciones
            WHERE (LOWER(comentario) LIKE '%buena%') OR
            (LOWER(comentario) LIKE '%excelente%')
            GROUP BY idCanción
            /*HAVING COUNT(*) > 5*/''' #comentario

#Ejecutamos la consulta
cursor.execute(consulta)

#Mostramos los resultados
resultados = cursor.fetchall()
for resultado in resultados:
  print(resultado)

(4, 1)
(15, 1)